<h1><%= @round.deck.title %></h1>

<h3><%= @card.question %></h3>

<form action="/rounds/<%= @round.id %>/cards/<%=@card.id%>" method='post'>
  Enter your guess:
  <br>
  <input type="text" name="user_answer">
  <br>
  <br>
  <button class="submit">Submit your guess</button>
  <!-- <input type="submit" value="submit your guess"> -->
</form>
<br>
<a class="quit" href="/rounds/end">Click here to end the round!</a>
